.headerPlans {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.arrow {
    position: absolute;
    right: 0; bottom: 3rem;
    font-size: 10rem;
    padding-inline: 1rem;
}

.headerPlans img {
    height: 85dvh;
    width: 100%;
    object-fit: cover;
}

.headerPlans__grid-right {
    display: grid;
    place-content: center;
}

.headerPlans__grid-right > h2 {
    font-family: var(--ff-trebuchet);
    font-size: 5.25vw;
    font-weight: 600;
    text-transform: uppercase;
}

.headerPlans__grid-right > h2 > span {
    display: block;
}

.headerPlans__grid-right > p {
    font-family: var(--ff-alata);
    font-size: 2rem;
    font-weight: 500;

    padding-block: 1rem;

    color: #6b6c6c;
}


@media only screen and (width < 62.5em) {

    .headerPlans {
        display: block;
    }

    .headerPlans img {
        height: 60dvh;
    }

    .headerPlans__grid-right {
        display: flex;
        justify-content: left;
        flex-direction: column;

        height: 40dvh;
    }

    .headerPlans__grid-right > h2,
    .headerPlans__grid-right > p {
        margin-inline: 5rem;
    }

    .headerPlans__grid-right > h2 {
        font-size: 3.5rem;

        margin-top: 2.5rem;
    }

    .headerPlans__grid-right > p {
        font-size: 1.5rem;
    }

}

@media only screen and (width < 45em) {

    .headerPlans__grid-right > h2 {
        margin-top: 1.5rem;
    }

    .headerPlans__grid-right > h2,
    .headerPlans__grid-right > p {
        margin-inline: 3.5rem;
    }

    .arrow {
        font-size: 4.5rem;
        bottom: 1.5rem;
    }

    .headerPlans__grid-right > h2 {
        font-size: 3rem;
    }

    .headerPlans__grid-right > p {
        font-size: 1.5rem;
    }

}

.main {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin-block: 2rem;
    padding-inline: 1.5rem;
}

.main__plans {
    width: 50rem;
    overflow: hidden;

    border-radius: 1rem;

    margin-block: 1.25rem;
    margin-inline: .5rem;

    background-color: hsl(0 0% 0% / 0.1);
}

.main__plan {
    display: grid;
    place-content: center;

    padding-inline: 2.5rem;
    padding-block: 1.25rem;
}

.main img {
    width: 20rem;
    object-fit: cover;
}

.main__plan > h4 {
    font-family: var(--ff-supreme);
    font-size: 1.85rem;
    font-weight: 800;
    text-transform: uppercase;

    padding-bottom: .5rem;
}

.main__plan > p:not(.main__plan > .amount) {
    display: flex;
    align-items: center;

    font-family: var(--ff-alata);
    font-size: 1.125rem;

    padding-block: .125rem;
}

.main__plan > p > i {
    font-size: 1.25rem;

    padding-right: .5rem;

    color: green;
}

.main__plan > .amount {
    font-family: var(--ff-supreme);
    font-weight: 500;
    font-size: 3rem;

    padding-block: .5rem;
}

.main__plan > .amount > span {
    position: relative;
    top: -1rem;

    font-family: var(--ff-josefin);
    font-size: 2rem;

    padding-inline: .35rem;
}

.main__plan > a {
    font-family: var(--ff-trebuchet);
    font-weight: 600;
    text-transform: uppercase;

    text-align: center;
    width: max-content;
    border-radius: .25rem;

    background-color: var(--clr-primary-400);
    color: whitesmoke;

    margin-bottom: .5rem;
    padding-block: .75rem;
    padding-inline: 5rem;
}

@media only screen and (width < 95em) {

    .main {
        margin-inline: auto;

        padding-inline: 2rem;
    }


    .main__plan > h4 {
        font-size: 2rem;
    }

    .main__plan > p {
        font-size: 1.125rem;
    }

    .main img {
        width: 22.5rem;
    }

    .main__plans {
        width: 100%;
        
        margin-inline: auto;
        margin-block: 1.25rem;
    }

    .main__plan {
        padding-block: 1.5rem;
    }

    .main__plan > .amount {
        font-size: 3rem;
    }

    .main__plan > .amount > span {
        font-size: 1.5rem;
        top: -1rem;
    }

}

@media only screen and (width < 45em) {

    .main__plans {
        display: flex;
        flex-direction: column;

        width: 100%;
    }

    .main img {
        width: 100%;
        height: 20rem;
        object-position: top;
    }

    .main__plan > .amount {
        margin-block: .5rem;
    }

    .main__plan {
        display: block;

        padding-bottom: 2.5rem;
        padding-inline: 1.5rem;
    }

}