.body {
    display: grid;
    place-items: center;
}

.body__blogs {
    justify-content: space-evenly;
    flex-wrap: wrap;

    margin-top: 12rem;
}

.body__blog {
    position: relative;
    width: 27.5rem;
    height: 27.5rem;

    margin-inline: 1rem;
    margin-block: 1.5rem;
}

.body__blog > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
    filter: brightness(67.5%);
}

.body__blog > div {
    position: absolute;
    bottom: 0;

    padding-inline: 2rem;
    padding-block: 2rem;
}

.body__blog a {
    font-family: var(--ff-supreme);
    font-weight: 800;
    font-size: 2.125rem;
    text-transform: uppercase;

    color: whitesmoke;
}

.body__blog p {
    font-family: var(--ff-alata);
    font-size: 1.125rem;
    max-width: 35ch;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

    color: whitesmoke;
}

@media only screen and (width <= 45em) {

    .body {
        padding-inline: 0.5rem;
    }

    .body__blogs {
        width: 100%;

        margin-top: 7.5rem;
    }

    .body__blog {
        width: 100%;

        margin-block: 1rem;
    }

    .body > h3 {
        font-size: 1.75rem;
    }

}