@keyframes scrollLeft {
    to {
        left: -27.5rem;
    }
}

.blogs-home {
    display: grid;
    place-items: center;
}

.blogs-home > h3 {
    font-family: var(--ff-trebuchet);
    font-size: 2.5rem;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    max-width: 30ch;

    margin-inline: auto;
    margin-top: 3.5rem;
    margin-bottom: 2.5rem;
    padding-inline: 2rem;

    color: var(--clr-primary-200)
}

.blogs-home__blogs {
    position: relative;
    height: 30rem;
    width: 100%;
    max-width: 65rem;
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        rgba(0, 0, 0, 0),
        rgba(0, 0, 0, 1) 10%,
        rgba(0, 0, 0, 1) 90%,
        rgba(0, 0, 0, 0)
    );

    margin-inline: auto;
}

.blogs-home__blog {
    position: absolute;
    left: max(calc(27.5rem * 3), 100%);
    width: 27.5rem; height: 27.5rem;

    animation-name: scrollLeft;
    animation-duration: 15s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;

    margin-inline: 1.5rem;
    margin-block: 1.5rem;
}

.blogs-home__blog:nth-child(1) {
    animation-delay: calc(15s / 3 * (3 - 1) * -1);
}

.blogs-home__blog:nth-child(2) {
    animation-delay: calc(15s / 3 * (3 - 2) * -1);
}

.blogs-home__blog:nth-child(3) {
    animation-delay: calc(15s / 3 * (3 - 3) * -1);
}

.blogs-home__blog > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5rem;
    filter: brightness(67.5%);
}

.blogs-home__blog > div {
    position: absolute;
    bottom: 0;

    padding-inline: 2rem;
    padding-block: 2rem;
}

.blogs-home__title {
    font-family: var(--ff-supreme);
    font-weight:800;
    font-size: 2.25rem;
    text-transform: uppercase;

    color: whitesmoke;
}

.blogs-home__blog p {
    font-family: var(--ff-alata);
    font-size: 1.125rem;
    max-width: 35ch;

    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    -webkit-box-orient: vertical;

    color: whitesmoke;
}

.blogs-home__btn {
    font-family: var(--ff-trebuchet);
    text-transform: uppercase;

    border-radius: .25rem;

    padding-block: 1rem;
    padding-inline: 5.5rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;

    background-color: var(--clr-primary-400);
    color: whitesmoke;
}

@media only screen and (width < 45em) {
    .blogs-home > h3 {
        font-size: 1.75rem;

        padding-inline: 1rem;
    }

    .blogs-home__blog {
        width: 90%;

        margin-block: 1rem;
    }

}